alabaster==0.7.12
app-version==1.0.1
appdirs==1.4.4
appnope==0.1.2
arabic-reshaper==2.1.3
asgiref==3.4.1
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.10.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
colorama==0.4.4
coloredlogs==15.0.1
commonmark==0.9.1
coverage==5.5
coveralls==3.2.0
crispy-bootstrap5==0.6
crypto==1.4.1
cryptography==35.0.0
dealer==2.1.0
decorator==5.1.0
defusedxml==0.7.1
Django==3.1.13
django-ajax-selects==2.0.0
django-appconf==1.0.4
-e git+https://github.com/rrlapointe/django-bootstrap-calendar.git@7bc68b6e14e17246530db4fcf9c25c91fe2f2d1d#egg=django_bootstrap_calendar
django-bootstrap3==14.2.0
django-bootstrap5==21.2
django-cas-ng==4.1.1
django-compat==1.0.15
django-compressor==2.4
django-crispy-forms==1.13.0
django-debug-toolbar==3.2.1
django-environ==0.4.5
django-extensions==3.0.9
django-filter==21.1
django-formtools==2.2
django-hijack==2.1.10
django-ical==1.7.1
django-jchart==0.4.2
django-js-asset==1.2.2
django-lineage==0.2.0
django-markdown-deux==1.0.5
django-mptt==0.11.0
django-multiselectfield==0.1.12
-e git+git://github.com/Chive/django-multiupload.git@ba52e161a68ce19062c3655e89544c2d377990a0#egg=django_multiupload
-e git+https://github.com/thomersch/django-natural-duration.git@7a57ad711da98d4c0da36713725735082b28b0b3#egg=django_natural_duration
django-pagedown==1.0.6
django-permission==1.0.5
django-polymorphic==3.0.0
django-property-filter==1.1.0
django-recurrence==1.10.3
django-rest-auth==0.9.5
django-reversion==3.0.7
-e git+https://github.com/WPI-LNL/django-saml2-auth.git@6348b4efcc7fc99dff5303846c60785026f67116#egg=django_saml2_auth
django-semanticui-forms==1.6.5
django-test-without-migrations==0.6
django-uuidfield==0.5.0
django-watson==1.5.5
djangorestframework==3.12.4
djangorestframework-jwt==1.11.0
dnspython==1.16.0
docopt==0.6.2
docutils==0.16
drf-spectacular==0.21.0
factory-boy==3.2.0
Faker==9.2.0
fett==0.3.2
filetype==1.0.7
future==0.18.2
fuzzywuzzy==0.18.0
html5lib==1.0.1
humanfriendly==10.0
icalendar==4.0.7
idna==3.2
imagesize==1.2.0
inflection==0.5.1
ipython==7.28.0
jedi==0.18.0
Jinja2==3.0.2
-e git+https://github.com/serenecloud/jsmin@646732092bdc36a8d6fe2f16a24747f88ba911be#egg=jsmin
jsonschema==4.2.1
ldap3==2.8.1
line-profiler==3.1.0
lxml==4.6.3
lyricwikia==0.1.11
Markdown==3.3.3
markdown2==2.4.0
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mechanize==0.4.5
model-mommy==2.0.0
mutagen==1.45.1
Naked==0.1.31
networkx==2.6.3
numpy==1.21.2
packaging==21.0
parso==0.8.2
Paste==3.5.0
pathlib==1.0.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
pisa==3.0.33
prompt-toolkit==3.0.20
ptyprocess==0.7.0
pyasn1==0.4.8
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.10.1
Pygments==2.10.0
PyJWT==1.7.1
pymongo==3.11.4
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyPdf==1.13
PyPDF2==1.26.0
pyrsistent==0.18.0
pysaml2==6.1.0
python-bidi==0.4.2
python-cas==1.6.0
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-Levenshtein==0.12.2
pytube==11.0.1
pytube3==9.6.4
pytz==2020.4
PyYAML==5.4.1
rapidfuzz==1.6.2
raven==6.10.0
rcssmin==1.0.6
reportlab==3.6.3
requests==2.26.0
rich==10.10.0
rjsmin==1.1.0
shellescape==3.8.1
six==1.15.0
slack-sdk==3.9.1
snooty-lextudio==1.11.5
snowballstemmer==2.1.0
soupsieve==2.2.1
Sphinx==4.2.0
sphinx-issues==1.2.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spotdl==3.8.0
spotipy==2.19.0
sqlparse==0.4.2
text-unidecode==1.3
-e git+https://github.com/WPI-LNL/tolerance@335211c974e5e1d85289e1a8745ce01794b05225#egg=tolerance
toml==0.10.2
tqdm==4.62.2
traitlets==5.1.0
typing-extensions==3.10.0.2
ujson==1.35
unicode-slugify==0.1.3
Unidecode==1.3.2
uritemplate==4.1.1
urllib3==1.26.6
watchdog==1.0.2
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.0
xhtml2pdf==0.2.5
youtube-dl==2021.6.6
yt-dlp==2021.9.2
ytmusicapi==0.19.2
