<nav class="navbar navbar-expand-md sticky-md-top navbar-dark bg-dark mb-3">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#top-navbar-collapse-section" aria-controls="top-navbar-collapse-section" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-3 ms-md-0" id="top-navbar-collapse-section">
            <a class="nav-item navbar-brand me-auto" href="/">WPI Lens and Lights</a>
            <div class="d-flex navbar-text mb-2 mb-md-0"><div>
                {% if request.user.pk %} Logged in as <a href="{% url  "accounts:detail" request.user.pk %}" class="navbar-link">{{ request.user }}</a> &middot;
                    <a class="navbar-link" href="{% url "accounts:logout" %}">Log Out</a> {% else %}
                    <a class="navbar-link" href="{% url "accounts:login" %}">Log In</a> {% endif %}
            </div></div>
            <div class="navbar-end" />
        </div>
    </div>
</nav>